.activite{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 20px;
    margin: 0px 80px;
}
.activitie-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    /* border: 1px solid g; */
}

.user-activities{
    margin-top: 30px;
}
.activites-container{
    padding: 0px 20px 0px 0px;
}

@media only screen and (max-width: 1024px) {
    .activitie-grid{
        grid-template-columns: repeat(2, 1fr);   
    }
    .activite{
        grid-template-rows: auto;
        grid-template-columns: 1fr;

    }
  }


  @media only screen and (max-width: 500px) {
    .activitie-grid{
        grid-template-columns:  1fr;
    }
  }